@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F2F1EE;
}
.bg-full {
    background-size: cover !important;
    background-repeat: no-repeat;
}

.glow-image {
    position: relative;
    background-size: 100% !important;
}
.glow-image::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    content: '';
    background: inherit;
    filter: blur(20px);
    opacity: 0.4;
    transition: 300ms all;
}

.clip {
  clip-path: polygon(100% 0%, 97% 50%, 100% 100%, 0% 100%, 3% 50%, 0% 0%);
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 32px));
  }
}