@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffbeb;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.glow-image {
    position: relative;
}

.glow-image::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    content: '';
    background: inherit;
    filter: blur(20px);
    opacity: 0.75;
    transition: 300ms all;
}

.clip {
  clip-path: polygon(100% 0%, 97% 50%, 100% 100%, 0% 100%, 3% 50%, 0% 0%);
}

.next-clip {
  clip-path: polygon(94% 0%, 100% 50%, 94% 100%, 0% 100%, 6% 50%, 0% 0%);
}

.prev-clip {
  clip-path: polygon(100% 0%, 94% 50%, 100% 100%, 6% 100%, 0% 50%, 6% 0%);
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 32px));
  }
}

.inline-link {
  border-bottom: 1px solid #d9376e;
  color: #d9376e;
}