@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-full {
    background-size: cover !important;
    background-repeat: no-repeat;
}

.glow-image {
    position: relative;
    background-size: 100% !important;
}
.glow-image::after {
    width: 110%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    background: inherit;
    /* filter: blur(20px); */
    /* opacity: 0; */
    transition: 300ms all;
}
    
.glow-image:hover::after {
    opacity: 0.9;
}

.clip {
    clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 32px));
  }
}